html{
	scroll-behavior: smooth;
}
body{
	background-color: #063647;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/loader.gif') center no-repeat #0E282E;
}
div.main1{
	background-color: #063647;
}
img.round{
	border-radius: 50%;
}
a{
	color: #00d1b2;
}
a:hover {
	color: #00d1b2;
  }
div.intro{
	width: 90%;
	margin-left: 5%;
}
p.head{
	font-size:16px;
	color: #dfdfdf;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
p.blog{
	font-size: 2rem;
}
div.main2{
	background-color: #0E282E;
}
.fa {
	color : #fff;
	padding: 40px;
	font-size: 40px;
	text-decoration: none;
	border-radius: 50%;
}
a.nav{
	font-size: 30px;
}
.fa:hover{
	text-decoration: none;
}
a.nav{
	color: #fff;
	opacity: 0.8;
	padding: 6px;
}
a.cus{
	color: #fff;
	opacity: 0.8;
}
a.nav:hover{
	opacity: 1;
}
a.cus:hover{
	opacity: 1;
}
nav{
	height: 60px;
	border-bottom: 2px solid #0E282E;
}
img:hover{
	box-shadow: 0 4px 50px 0 rgba(255, 0, 188, 0.2), 0 6px 20px 0 rgba(255, 0, 188, 0.19);
}
.fa-facebook:hover{
	color: #3B5998;
}
a.new:hover{
	color: black;
}
.fa-google:hover{
	color:#FF4500;
	opacity: 0.9;
}
@media screen and (max-width : 540px)
{
	.fa{
		padding: 20px;
	}
	p.media{
		font-size: 25px;
	}
}
@media screen and (max-width : 362px)
{
	.fa{
		padding: 10px;
	}
}
@media screen and (max-width : 575px)
{
	a.nav{
		padding:6px;
	}
	i.fa{
		padding: 0px;
	}
	div.main1{
		margin-top: 6.3%;
	}
	a.move{
		margin-top: -5px;
	}
}